**.o
**.lo
**.la
**.so
**/#*
**~
**.pyc
**.pyo
.libs
**/.deps
**/.dirstamp
libsharp2-uninstalled.pc
libsharp2-uninstalled.sh
libsharp2.pc
libsharp2.pc.in
perf.data*
/autom4te.cache
config.log
config.status
